@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    height: 100vh;
    background-color: #CBE4DE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0E8388;
    font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
    text-align: center;
}

.card {
    border-radius: 25px;
    width: 21rem;
    height: 30rem;
    border: none;
    padding: 1.25rem;
    position: relative;
    display: block;
    /* align-items: center; */
    transform-style: preserve-3d;
    transition: 200ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.leftContent {
    /* width: 18.5rem; */
    margin: 0;
}

.flip {
    z-index: 0;
    --rotate-y: -180deg;
}

.back-card, .front-card {
    backface-visibility: hidden;
    display: flex;
    height: 27.5rem;
    /* gap: 1.25rem; */
}

.back-card {
    position: relative;
    bottom: 27.5rem;
    transform: rotateY(180deg);
}

.circle-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.header {
    margin-top: 0.45rem;
}

.weather-pic {
    width: 10rem;
}

.center-context {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front {
    background: rgba(14, 131, 136);
}

.back {
    background: white;
}

.back:hover {
    background: rgba(14, 131, 136, 0.25);
}

.button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.lang {
    position: absolute;
}

.btn {
    border-radius: 0.85rem;
    padding: 0.4rem;
    width: 2.3rem;
    color: #0E8388;
    background-color: white;
    border-color: #0E8388;
}

.btn:hover {
    background-color: #0E8388;
    border-color: #0E8388;
}

.more-info-btn {
    position: absolute;
    right: 1.25rem;
    cursor: pointer;
}

.unit-btn {
    display: inline-block;
    padding: 0;
    color: black;
    width: fit-content;
    border: none;
}

.unit-btn:hover {
    background-color: transparent;
}

.unit-btn-box.show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.unit-btn-box.show>.btn-success.dropdown-toggle {
    background-color: transparent;
    border-color: rgba(14, 131, 136, 0.1);
}

.unit-btn.btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: rgba(33, 35, 35, 0.1);
}

.go-btn {
    width: 20%;
    /* height: 1.65rem; */
    background-color: rgba(14, 131, 136, 0.4);
    /* position: absolute; */
    display: flex;
    /* top: 7.55rem;
    right: 3rem; */
    border-radius: 0.9rem;
    color: white;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;   

}

.temp-box {
    display: flex;
    align-items: center;
}

.plus-pic, .minus-pic {
    width: 1.5rem;
    margin-top: 0.45rem;
    transition-property: transform;
    transition-duration: 0.3s;
}

.plus-pic:hover {
    transform: rotate(90deg);
}

.minus-pic:hover {
    transform: rotate(-180deg);
}

.time, .temp {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0.25rem;
}

.country {
    font-size: 2.05rem;
}

.temp {
    display: inline-block;
}

.chevron {
    width: 1.25rem;
    transition-property: transform;
    transition-duration: 0.3s;
}

.chevron-selected {
    transform: rotate(-180deg);
}

.form-control {
    border-radius: 0.9rem;
    color: rgba(14, 131, 136, 0.4);
    border: 1px solid #0E8388;
    /* width: 2rem; */
    width: 90%;
    /* margin-top: 0.75rem; */
    display: flex;
    font-size: 16px;
}

.form-control::placeholder {
    color: rgba(14, 131, 136, 0.4);
}

.form-control:focus {
    color: rgba(14, 131, 136);
    border-color: rgba(14, 131, 136, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(14, 131, 136, 0.25);
}

.dropdown-toggle::after {
    display: none; 
}

.dropdown-menu {
    border-radius: 0.85rem;
    padding: 0;
    border-color: #0E8388;
}

.dropdown-item {
    color: #0E8388;
}

.dropdown-item:hover {
    background-color: rgba(14, 131, 136, 0.1);
    border-radius: 0.85rem;
}

.dropdown-item.active {
    border-radius: 0.85rem;
    background-color: #0E8388;
}

.dropdown-item:active {
    border-radius: 0.85rem;
    background-color: rgba(14, 131, 136, 0.1);
    color: #0E8388;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #0E8388;
    border-color: rgba(14, 131, 136, 0.1);
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(14, 131, 136, 0.25);
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none;
}

.dropdown-item:hover {
    color: #0E8388;
}

:focus-visible {
    outline: none;
}

.dropdown-item:hover.active{
    color: white;
}

.dropdown-item:active.active {
    background-color: #0E8388;
    color: white;
}

.back-card > .more-info-btn {
    right: 0;
}

.back-card > .center-context > .go-btn {
    top: 6.3rem;
    right: 1.75rem;
}

.searchBar {
    width: 100%;
    margin-top: 0.75rem;
    padding: 0 2rem;
    display: flex;
    gap: 0.25rem;
}

.rightContentWrapper {
    flex-grow: 1;
    display: flex;
}

.devidedLine {
    width: 0;
    height: 100%;
    border-left: 1px solid #0E8388;
}

.rightContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.catagoryIcon {
    width: 3rem;
}

.value {
    font-weight: 700;
}